<!-------------------Partie banniére----------------->
<div class="container1 text-center">
    <div class="row no-gutters">
        <div class="col text-center">
            <img src="../../../assets/T.REC1.png" alt="logo T.REC" class="img-fluid">
        </div>
        <div class="col text-center">
            <h1>T.REC</h1>
        </div>
        <div class="col text-center">
            <a routerLink="/login" class="btn1 btn-success btn-sm" style="font-size: 12px;" target="blank" role="link" aria-pressed="true" title="Login">Identifiez-vous</a>
        </div>
    </div>
</div>