<div class="container p-0">
    <div class="row m-2 ">
        <div class="col-4 p-0">
            <app-menu-back></app-menu-back>
        </div>
        <div class="col-8">
            <h2 class="titre-back">Bienvenu dans le BackOffice</h2>
            <div class="table-responsive">
                <table class="table table-info table-striped table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">Nombre d'articles</th>
                            <th class="text-center">Nombre d'utilisateurs</th>
                            <th class="text-center">Articles/Users</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{articles.length}}</td>
                            <td>{{utilisateurs.length}}</td>
                            <td> {{ articles.length/utilisateurs.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row m-2 ">
                <div class="col-sm-6" *ngFor="let c of comentaires; index as i ">
                    <div  class="card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Commentaires Clients {{i+1}}</div>
                        <div class="card-body">
                          <h5 class="card-title">{{c.contenu}}</h5>
                          <p class="card-text"> {{c.date_creation}}</p>
                        </div>
                    </div>
                </div>
            </div >
            
    </div>

</div>