<div class="card ">
    <h2 class="card-header">Gestion</h2>
    <nav>
        <ul class="nav flex-column mb-2">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/article/liste">Gestion Articles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/utilisateur/liste-user">Gestion Users</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/parametres/liste-parametres">Gestion Paramétres</a></li>
        </ul>
    </nav>
</div>