<div class="container">
    <div class="row text-center">
        <article class="col-sm-4 ">
            <img src="assets/PC1.png" class="card-img-top img-fluid border border-primary p-2 my-3" alt="Laptop" title="Laptop">
        </article>
        <article class="col-sm-8 alert alert-primary ">
            <h2 class="font-weight-bold">{{ article[0].titre }}</h2>
            <p style="white-space: pre-line;">{{ article[0].contenu}}</p>
            <p style="white-space: pre-line;">{{ article[0].nom_auteur}}</p>
            <p style="white-space: pre-line;">{{ article[0].date_creation}}</p>
            <a href="" class="btn btn-outline-success btn-sm">Acheter</a>
        </article>
    </div>
</div>